# Logs
logs
*.log
bun-debug.log*
bun.lockb

# Dependencies
node_modules

# Lock files (using bun.lock)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist
dist-ssr
*.local

# Environment Variables
.env
.env.development
.env.test
.env.production
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing
coverage

.vercel
